* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-control {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 20px;
}
.form-control::placeholder {
  font-weight: bold;
}
.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 2em;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.card img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}
