<div class="container">
    <div class="cv">
      <div class="box-1"></div>
      <div class="box-2">
        <div class="image-profile">
          <img src="/assets/Man1.png" alt="">
        </div>
        <!-- side contact -->
        <div class="side-contact">
          <div class="side-contact-title">
            <h1>Contact</h1>
          </div>
          <div class="side-contact-p">
            <p>September 07, 1990</p>
            <p>09614590035</p>
            <p>professorxgordon
            college.edu.ph</p>
          </div>
        </div>
      
        <hr>
        
        <!-- expertise -->
      </div>
      <div class="box-3"></div>
    </div>
  </div>
  