.container {
    position: absolute;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #576EB9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(54, 54, 54, 0.1);
}

.container label {
    font-size: 15px;
    font-weight: 300;
    margin-left: 13px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.container input {
    width: calc(100% - 50px); /* Adjusting for left margin */
    margin-left: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 255, 255, 0.3);
}

.container input:focus {
    box-shadow: 0 0 5px rgba(102, 152, 245, 0.7), 0 0 10px rgba(154, 178, 255, 0.5); /* Changing box shadow on focus */
}

h3 {
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.group1 {
    background-color: #CFDAEE;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; /* Added margin for spacing between groups */
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70px;
    height: 40px;
    background-color: rgb(56, 122, 197);
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    right: 0px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 25px;
    row-gap: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}
.description textarea {
    resize: vertical; /* Allow vertical resizing */
}
