<div class="container">
    <form action="submit-cv.php" method="post" class="grid-container">
        <div class="group1">
            <h3>Contact Information</h3>
            <div class="form-group">
                <label for="mobile">Mobile #:</label>
                <input type="text" class="form-control" name="mobile" id="mobile">
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <h3 style="font-size: 18px; margin-top: 25px;">Social Links</h3>
            <div class="form-group">
                <label for="facebook">Facebook URL:</label>
                <input type="text" class="form-control" name="facebook" id="facebook">
            </div>
            <div class="form-group">
                <label for="instagram">Instagram URL:</label>
                <input type="text" class="form-control" name="instagram" id="instagram">
            </div>
            <div class="form-group">
                <label for="x">X URL:</label>
                <input type="text" class="form-control" name="x" id="x">
            </div>
        </div>
        <!-- Industry Experience -->
        <div class="group1">
            <h3>Industry Experience</h3>
            <div class="form-group">
                <label for="industry_name">School 1:</label>
                <input type="text" class="form-control" name="school1" id="school1">
            </div>
            <div class="form-group">
                <label for="industry_department">Emplyomen Status 1:</label>
                <input type="text" class="form-control" name="employment-status1" id="employment-status1">
            </div>
            <div class="form-group">
                <label for="industry_position">Duration 1:</label>
                <input type="text" class="form-control" name="duration1" id="duration1">
            </div>
            <div class="form-group">
                <label for="industry_name">School 2:</label>
                <input type="text" class="form-control" name="school2" id="school2">
            </div>
            <div class="form-group">
                <label for="industry_department">Emplyomen Status 2:</label>
                <input type="text" class="form-control" name="employment-status2" id="employment-status2">
            </div>
            <div class="form-group">
                <label for="duration2">Duration 2:</label>
                <input type="text" class="form-control" name="duration2" id="duration2">
            </div>
            <div class="form-group">
                <label for="industry_name">School 3:</label>
                <input type="text" class="form-control" name="school3" id="school3">
            </div>
            <div class="form-group">
                <label for="industry_department">Emplyomen Status 3:</label>
                <input type="text" class="form-control" name="employment-status3" id="employment-status3">
            </div>
            <div class="form-group">
                <label for="industry_position">Duration 3:</label>
                <input type="text" class="form-control" name="duration3" id="duration3">
            </div>
        </div>
         
        <!-- Educational Attainment -->
        <div class="group1">
            <h3>Educational Attainment</h3>
            <div class="form-group">
                <label for="education_name">Education 1:</label>
                <input type="text" class="form-control" name="education1" id="education1">
            </div>
            <div class="form-group">
                <label for="education_department">School 1:</label>
                <input type="text" class="form-control" name="school1" id="school1">
            </div>
            <div class="form-group">
                <label for="education_name">Education 2:</label>
                <input type="text" class="form-control" name="education2" id="education2">
            </div>
            <div class="form-group">
                <label for="education_department">School 2:</label>
                <input type="text" class="form-control" name="school2" id="school2">
            </div>
            <div class="form-group">
                <label for="education_name">Education 3:</label>
                <input type="text" class="form-control" name="education3" id="education3">
            </div>
            <div class="form-group">
                <label for="education_department">School 3:</label>
                <input type="text" class="form-control" name="school3" id="school3">
            </div>
        </div>
        
        <!-- Expertise -->
        <div class="group1">
            <h3>Expertise</h3>
            <div class="form-group">
                <label for="expertise1">Expertise 1:</label>
                <input type="text" class="form-control" name="expertise1" id="expertise1">
            </div>
            <div class="form-group">
                <label for="expertise2">Expertise 2:</label>
                <input type="text" class="form-control" name="expertise2" id="expertise2">
            </div>
            <div class="form-group">
                <label for="expertise3">Expertise 3:</label>
                <input type="text" class="form-control" name="expertise3" id="expertise3">
            </div>
            <div class="form-group">
                <label for="expertise4">Expertise 4:</label>
                <input type="text" class="form-control" name="expertise4" id="expertise4">
            </div>
            <div class="form-group">
                <label for="expertise5">Expertise 5:</label>
                <input type="text" class="form-control" name="expertise5" id="expertise5">
            </div>
        </div>
        
         <!-- Certifications -->
         <div class="group1">
            <h3>Certifications</h3>
            <div class="form-group">
                <label for="certification_name">Certification 1:</label>
                <input type="text" class="form-control" name="certification1" id="certification1">
            </div>
            <div class="form-group">
                <label for="certification_name">Certification 2:</label>
                <input type="text" class="form-control" name="certification2" id="certification2">
            </div>
            <div class="form-group">
                <label for="certification_name">Certification 3:</label>
                <input type="text" class="form-control" name="certification3" id="certification3">
            </div>
        </div>
        <!-- Honors and Awards -->
        <div class="group1">
            <h3>Achievements</h3>
            <div class="form-group">
                <label for="award_name">Achievement 1:</label>
                <input type="text" class="form-control" name="achievement1" id="Achievement1">
            </div>
            <div class="form-group">
                <label for="award_name">Achievement 2:</label>
                <input type="text" class="form-control" name="achievement2" id="Achievement2">
            </div>
            <div class="form-group">
                <label for="award_name">Achievement 3:</label>
                <input type="text" class="form-control" name="achievement3" id="Achievement3">
            </div>
            <div class="form-group">
                <label for="award_name">Achievement 4:</label>
                <input type="text" class="form-control" name="achievement4" id="Achievement4">
            </div>
        </div>
       
        <!-- Course Handled -->
        <div class="group1">
            <h3>Course Handled</h3>
            <div class="form-group">
                <label for="course_name">Course 1:</label>
                <input type="text" class="form-control" name="course1" id="course1">
            </div>
            <div class="form-group">
                <label for="course_name">Course 2:</label>
                <input type="text" class="form-control" name="course2" id="course2">
            </div>
            <div class="form-group">
                <label for="course_name">Course 3:</label>
                <input type="text" class="form-control" name="course3" id="course3">
            </div>
            <div class="form-group">
                <label for="course_name">Course 4:</label>
                <input type="text" class="form-control" name="course4" id="course4">
            </div>
            <div class="form-group">
                <label for="course_name">Course 5:</label>
                <input type="text" class="form-control" name="course5" id="course5">
            </div>
            <div class="form-group">
                <label for="course_name">Course 6:</label>
                <input type="text" class="form-control" name="course6" id="course6">
            </div>
            <div class="form-group">
                <label for="course_name">Course 7:</label>
                <input type="text" class="form-control" name="course7" id="course7">
            </div>
            <div class="form-group">
                <label for="course_name">Course 8:</label>
                <input type="text" class="form-control" name="course8" id="course8">
            </div>
            <div class="form-group">
                <label for="course_name">Course 9:</label>
                <input type="text" class="form-control" name="course9" id="course9">
            </div>
            <div class="form-group">
                <label for="course_name">Course 10:</label>
                <input type="text" class="form-control" name="course10" id="course10">
            </div>
        </div>
  <div class="group1">
            <h3>Research And Community</h3>
            <!-- Research 1 -->
            <div class="form-group">
                <label for="education_name">Research Title 1:</label>
                <input type="text" class="form-control" name="research-title1" id="research-title1">
            </div>
            <div class="form-group description">
                <label for="education_department">Research description 1:</label>
                <textarea class="form-control" name="description1" id="description1" rows="4"></textarea>
            </div>
            <!-- Research 2 -->
            <div class="form-group">
                <label for="education_name">Research Title 2:</label>
                <input type="text" class="form-control" name="research-title2" id="research-title2">
            </div>
            <div class="form-group description">
                <label for="education_department">Research description 2:</label>
                <textarea class="form-control" name="description2" id="description2" rows="4"></textarea>
            </div>
            <!-- Research 3 -->
            <div class="form-group">
                <label for="education_name">Research Title 3:</label>
                <input type="text" class="form-control" name="research-title3" id="research-title3">
            </div>
            <div class="form-group description">
                <label for="education_department">Research description 3:</label>
                <textarea class="form-control" name="description3" id="description3" rows="4"></textarea>
            </div>
        </div>
        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>
</div>
