
.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #73469e;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: white; /* Darker text color */
}

.dialog-content {
  display: flex;
  flex-direction: column;
  
}

.form-field {
  margin-bottom: 20px; /* Increased margin */
}

.form-field label {
  font-weight: bold;
  color: white; /* Slightly darker text color */
}

.form-field input {
  width: 100%;
  padding: 12px; /* Increased padding */
  border: 1px solid #ddd; /* Lighter border color */
  border-radius: 6px;
  box-sizing: border-box;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.cancel-button {
  background-color: #f0f0f0; /* Light background color */
  color: #666; /* Darker text color */
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth hover transition */
}

.cancel-button:hover {
  background-color: #e0e0e0; /* Slightly darker background color on hover */
}

.change-button {
  background-color: #007bff; /* Primary color for change button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s; /* Smooth hover transition */
}

.change-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
.close-button {
  
  position: fixed;
  top: 2%;
  right: 6%;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button i {
  color:white;
  font-size: 20px;
}

.close-button:hover i {
  color: #333;
}
