<!-- change-password-dialog.component.html -->
<div class="dialog-container">
  <button class="close-button" (click)="cancelChangePassword()">
    <i class="fas fa-times"></i>
  </button>
<h2 class="dialog-title">Change Password</h2>
<div class="dialog-content">
  
  <!-- Change password form -->
  <form>
    <div class="form-field">
      <label for="currentPassword">Current Pasword</label>
      <input type="password" id="currentPassword" placeholder="Enter your current password">
    </div>
    <div class="form-field">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" placeholder="Enter your new password">
    </div>
    <div class="form-field">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" id="confirmNewPassword" placeholder="Confirm your new password">
    </div>
  </form>
</div>
<div class="dialog-actions">
  <button class="change-button">Confirm</button>
</div>
</div>
