@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
  font-family: 'Patrick Hand', cursive;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.corner-image {
  position: absolute;
  z-index: -1;
}

.top-left, .top-right, .bottom-left, .bottom-right {
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.person {
  animation-name: slideInFromLeft;
  animation-duration: 1s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.form-container {
  background-color: #d9d9d9;
  font-family: 'Patrick Hand', sans-serif;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  margin-top: 60px;
}

.input-group-text img {
  height: 30px;
  width: auto;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  z-index: 2; /* Ensures the button is always on top */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.eye-icon {
  width: 24px;
  height: 24px;
}

.login-btn {
  border-radius: 10px;
}

button:hover {
  transform: none;
}

.input-group .form-control:focus + .toggle-password-btn {
  z-index: 3; /* Increase z-index on focus */
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  z-index: 2; /* Ensures the button is always on top */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; /* Removes focus outline */
}

.password-input:focus {
  position: relative;
  z-index: 1;
}